<h1>Listing cores</h1>

<% if @cores.empty? %>
<p>There are no cores to display.</p>
<% else %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Creator</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cores.each do |core| %>
      <tr>
        <td><%= core.name %></td>
        <td><%= core.description %></td>
        <td><%= core.creator_id %></td>
        <td><%= link_to 'Show', core %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% end %>

<%= link_to 'New Core', new_core_path %>
