<% if @non_members.empty? %>
<p>There are no potential members to add to this core</p>
<% else %>
<%= form_for [@core, @core_membership] do |f| %>
  <% if @core_membership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@core_membership.errors.count, "error") %> prohibited this core_membership from being saved:</h2>

      <ul>
      <% @core_membership.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :core %><br>
    <%= @core %>
  </div>
  <div class="field">
    <%= f.label :repository_user_id %><br>
    <%= f.collection_select(:repository_user_id, @non_members, :id, :to_s) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<% end %>
