<h1>Listing records</h1>

<div id='records_nav'>
  <%= form_for(@record_filter, {url: records_path, method: :get}) do |f| %>
    <%= f.collection_select :affiliated_with_project, current_user.projects, :id, :to_s, {include_blank: '--Select a project--'} %>
    <%= f.submit 'Filter records' %>
  <% end %>
</div>

<script>
<%
  dropzone_params = []
  dropzone_params << "'#{request_forgery_protection_token}': '#{form_authenticity_token}'" if protect_against_forgery?
  dropzone_params << "'record[project_affiliated_records_attributes][][project_id]': '#{@project.id}'" if @project
%>
$(function(){
  $(".dropzone").dropzone( {
    params: {
      <%= dropzone_params.join(', ').html_safe %>
    },
    url: '<%= records_path %>',
    method: 'POST',
    paramName: 'record[content]',
    forceFallback: false,
    uploadMultiple: false
  });
});
</script>
<%= 
  content_tag :div, class: 'dropzone' do
    content_tag :div, class: 'fallback' do
      link_to 'New Record', new_record_path
    end
  end if can? :new, Record 
%>
<div id='records'>
<% if @records.empty? %>
<p>There are no records to display.</p>
<% else %>
<%= page_entries_info @records %>
<%= will_paginate @records %>
<table>
  <thead>
    <tr>
<% if current_user %>
      <th>File Name</th>
      <th>Creator</th>
      <th>Content Available</th>
<% end %>
      <th>md5 Hash</th>
      <th>created</th>
      <th>projects</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |record| %>
      <tr>
<% if current_user %>
        <td><%= record.content_file_name %></td>
        <td><%= record.creator.name %></td>
        <td><%= !record.is_destroyed %></td>
<% end %>
        <td><%= record.content_fingerprint %></td>
        <td><%= record.created_at.httpdate %></td>
        <td><%= record.projects.collect {|p| link_to(p.name, p) }.join(', ').html_safe %>
        <td><%= download_link(record) unless current_user && record.is_destroyed? %></td>
        <td><%= link_to 'Show', record if can? :show, record %></td>
        <td><%= link_to 'Provenance', record_provenance_show_path(record_id: record.id, format: 'xml') %></td>
        <td><%= link_to 'Destroy', record, method: :delete, data: { confirm: 'Are you sure?' } if can?(:destroy, record) && !record.is_destroyed? %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @records %>

<br>
<% end %>
</div>
