<h1>Listing records</h1>

<script>
$(function(){
  $(".dropzone").dropzone( {
<% if protect_against_forgery? %>
    params: {
      <%= request_forgery_protection_token %>: '<%= form_authenticity_token %>'
    },
<% end %>
    url: '<%= records_path %>',
    method: 'POST',
    paramName: 'record[content]',
    forceFallback: false,
    uploadMultiple: false
  });
});
</script>
<%= 
  content_tag :div, class: 'dropzone' do
    content_tag :div, class: 'fallback' do
      link_to 'New Record', new_record_path
    end
  end if can? :new, Record 
%>
<% if current_user %>
<div id='records_nav'>
  <ul>
    <li><%= link_to 'My Records', records_path() %></li>
    <li>
      <p>My Projects</p>
      <ul>
<%      current_user.project_memberships.each do |pm| %>
        <li><%= link_to pm.project, records_path(affiliated_with_project: pm.project_id) %></li>
<%      end %>
      </ul>      
    </li>
   </ul>
</div>
<% end %>
<div id='records'>
<% if @records.empty? %>
<p>There are no records to display.</p>
<% else %>
<table>
  <thead>
    <tr>
<% if current_user %>
      <th>File Name</th>
      <th>Creator</th>
      <th>Content Available</th>
<% end %>
      <th>md5 Hash</th>
      <th>created</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |record| %>
      <tr>
<% if current_user %>
        <td><%= record.content_file_name %></td>
        <td><%= record.creator.name %></td>
        <td><%= !record.is_destroyed %></td>
<% end %>
        <td><%= record.content_fingerprint %></td>
        <td><%= record.created_at.httpdate %></td>
        <td><%= download_link(record) unless current_user && record.is_destroyed? %></td>
        <td><%= link_to 'Show', record if can? :show, record %></td>
        <td><%= link_to 'Destroy', record, method: :delete, data: { confirm: 'Are you sure?' } if can?(:destroy, record) && !record.is_destroyed? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% end %>
</div>
