<%= form_for [@project, @project_affiliated_record] do |f| %>
  <% if @project_affiliated_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_affiliated_record.errors.count, "error") %> prohibited this project_affiliated_record from being saved:</h2>

      <ul>
      <% @project_affiliated_record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :record_id %><br>
    <%= f.collection_select(:record_id, @unaffiliated_records, :id, :to_s) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
