<h1>Listing affiliated records</h1>

<% if @project_affiliated_records.empty? %>
<p>There are no affiliated records to display.</p>
<% else %>
<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>Record</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @project_affiliated_records.each do |project_affiliated_record| %>
      <tr>
        <td>
          <%= link_to project_affiliated_record.project, project_path(project_affiliated_record.project.id) %>
        </td>
        <td>
          <%= link_to project_affiliated_record.affiliated_record, record_path(project_affiliated_record.affiliated_record.id) %>
        </td>
        <td><%= link_to 'Show', [project_affiliated_record.project, project_affiliated_record] %></td>
        <td><%= link_to 'Destroy', [project_affiliated_record.project, project_affiliated_record], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% end %>

<%= link_to 'New Project affiliated record', new_project_project_affiliated_record_path(@project) %>
